# logs
*.log
*.txt

# scripts
*.sh

# settings / secrets
config*.ts
settings.json
notes
*secret*.*
tags
commit_msg
todo

# node
node_modules
.npm
package-lock.json

# dotenv files
.env
.env.*

# build directories
prod
build
built
dist
out*
tmp

# git
.git

# backup directories
bak
backup*
